{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr-FR">

  <head>
    <meta charset="utf-8">
    <meta name="Author" content="LeMinaw">
    <meta name="Keywords" content="avatar,dynamique,image,photo,aléatoire,procédural,profil">
    <meta name="Description" content="Un site web pour générer des avatars dynamiques.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="icon/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'leminaw/css/minaw-css.css' %}">
    <link rel="stylesheet" href="{% static 'avatar/css/base.css' %}">
    <title>Avatar | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>Avatar</h1>
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <footer>
      <p>Une appli web par <a href="{% url "perso:main" %}">LeMinaw</a>.</p>
      <p>Licence CC BY-NC-SA 2.0</p>
      <p>- 2017 -</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="{% static 'leminaw/js/taconite.min.js' %}"></script>
    <script src="{% static 'avatar/js/base.js' %}"></script>
  </body>

</html>
