{% load staticfiles %}
{% load thumbnail %}

<!doctype html>
<html lang="fr" {% block htmlparams %}{% endblock %}>
  <head>
    <meta charset="utf-8">
    <title>LeMinaw // Renaud Perrin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="le,minaw,leminaw,le_minaw,renaud,perrin,digital,art,tech,computer,photo,3D,2D,numeric,math,programming">
    <meta name="description" content="Thoughts on arts and techniques for the 21st century">

    <link rel="icon"       href="{% static 'portfolio/img/favicon.png' %}"                                           type="image/png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One"                                 type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa"                                  type="text/css"/>
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}"                                              type="text/css"/>

    {% include 'leminaw/analytics.html' %}
  </head>

  <body>
    {% block scripts %}
      <script src="{% static 'portfolio/js/return.js' %}"></script>
    {% endblock scripts %}

    <header>
      <a class="smallnav" onclick="toggleMenu()" title="Menu de navigation"><i class="fa fa-bars"></i></a>
      <a class="{% if not categ %}active{% endif %}" href="{% url 'portfolio:main' %}">réalisations</a>
      {% for baritem in categs %}
        <a class="{% if baritem == categ %}active{% endif %}" href="{{ baritem.get_absolute_url }}">{{ baritem.name }}</a>
      {% endfor %}
    </header>

    <div class="background">
      {% thumbnail work_cover.cover "300x300" crop="noop" as thumb %}
        <img src="{{ thumb.url }}" alt="{{ work_cover.name }}">
      {% endthumbnail %}
    </div>

    {% block content %}{% endblock %}

    <footer class="{% if not work_cover.black_txt %}white{% endif %}">
      <div><span>Programmed and designed by LeMinaw.</span></div>
      <div><span>
        <a href="{% url 'perso:main' %}">Blog</a>
        |
        <a href="{% url 'portfolio:labs' %}">Labs</a>
        |
        <a href="{% url 'portfolio:contact' %}">Contact</a>
      </span></div>
    </footer>
  </body>
</html>