{% extends "portfolio/base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block htmlparams %}
  class="noscroll"
{% endblock %}

{% block content %}
  <div class="title">
    <div id="name">
      <h1 class="{% if not work_cover.black_txt %}white{% endif %}">leminaw // renaud perrin</h1>
    </div>
  </div>

  <div class="wrapper">
    <div id="gallery" class="content">
      <div class="row">
        {% for work in works %}
          <div class="thumb">
            <div class="imgcontainer" style="{{ work.get_css_gradient }}">
              <a href="{{ work.get_absolute_url }}">
                {% thumbnail work.cover "300x300" crop="noop" as thumb %}
                  <img class="fade" src="{{ work.get_svg_placeholder }}" data-src="{{ thumb.url }}" alt="{{ work.title }}">
                {% endthumbnail %}

                <div class="legend">
                  <span>{{ work.title }}</span>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row"></div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'portfolio/js/scroll.js' %}"></script>
  <script src="{% static 'portfolio/js/gallery.js' %}"></script>
{% endblock scripts %}