{% extends "portfolio/base.html" %}

{% load thumbnail %}

{% block bodyparams %}
  class="hscroll"
{% endblock bodyparams %}

{% block bckparams %}
  class="background scroll"
{% endblock%}

{% block content %}
  <div class="title scroll">
    <div id="name">
      <h1 class="{% if not work_cover.black_txt %}white{% endif %}">leminaw // renaud perrin</h1>
    </div>
  </div>

  <div class="wrapper scroll">
    <div id="gallery" class="content">
      {% for work in works %}
        <div class="imgcontainer">
          <div class="img">
            <a href="{{ work.get_absolute_url }}">
              {% thumbnail work.cover "300x300" crop="noop" as thumb %}
                <img src="{{ thumb.url }}" alt="{{ work.name }}">
              {% endthumbnail %}

              <div class="legend">
                <span>{{ work.title }}</span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
