{% extends "playel/base.html" %}

{% load staticfiles %}

{% block scripts %}
{% endblock %}

{% block title %}
À propos
{% endblock %}

{% block body %}
    <header>
      <h1>À propos de Playel</h1>
    </header>
    
    <section>
      <p>Playel est un lecteur de musique en ligne minimaliste, épuré et fonctionnel.</p>
      <p>S'appuyant sur le framework web Django, Playel est libre et facile à modifier.</p>
      <p>Ajoutez Playel à votre projet Django dès maintenant.</p>
      <br/>
      <p>Playel est sous license CC-BY-SA-NC.</p>
    </section>
    
    <footer>
      <p>Version expérimentale. Musique, code et design par LeMinaw.<p>
    </footer>
{% endblock %}
