{% extends "playel/base.html" %}

{% load staticfiles %}

{% block scripts %}
{% endblock %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}
    <header>
      <h1>Bienvenue sur Playel.</h1>
    </header>

    <section>
      <h2><a class="hover" href="/playel/albums">Albums</a></h2>
      <ul class="thumblist">
        {% for album in albumsSelected %}
          <li class="thumb">
            <a href="/playel/album/{{ album.slug }}">
              <img src="{{ album.cover.image.url|default:'{% static playel/img/defaultThumb.png %}' }}"/> <!--TODO Needs static delimiter...-->
              <p>{{ album.name }}</p>
            </a>
          </li>
        {% empty %}
          <p>Aucun album.</p>
        {% endfor %}
        {% if displayMore > 0 %}
          <li class="thumb">
            <a href="/playel/albums">
              <img src="{% static 'playel/img/defaultThumb.png' %}"/>
              <p>Voire les {{ displayMore }} autres...</p>
            </a>
          </li>
        {% endif %}
      </ul>
    </section>

    <section>
      <h2><a class="hover" href="/playel/tracks">Morceaux</a></h2>
      <p>//TODO</p>
    </section>

    <section>
      <h2><a class="hover" href="/playel/playlists">Playlists</a></h2>
      <p>//TODO</p>
    </section>

    <section>
      <h2><a class="hover" href="/playel/about">En savoir plus sur Playel</a></h2>
    </section>

    <footer>
      <p>Version expérimentale. Musique, code et design par LeMinaw.<p>
    </footer>
{% endblock %}
