{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">

<html>

  <head>
    <meta charset="utf-8">
    <meta name="Author" content="LeMinaw">
    <meta name="Keywords" content="dynamic,image,picture,random,dynimg,multiple,linker">
    <meta name="Description" content="A website generating custom dynamic images.">
    <link rel="icon" href="favicon.ico" type="icon/png">
    <link rel="stylesheet" href="{% static 'dynimg/css/base.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    <title>DynImg | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="navbaritem">
            <a href="/dynimg/about/">About</a>
          </li>
          <li class="navbaritem">
            <a href="/dynimg/">DynImg</a>
          </li>
          <li class="navbaritem">
            <a href="/dynimg/contact/">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <footer>
      <p>A web app by <a href="/">LeMinaw</a>.</p>
      <p>Licence CC BY-NC-SA 2.0</p>
      <p>- 2016 -</p>
    </footer>
  </body>

</html> 
