{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="utf-8">
        <meta name="Author" content="LeMinaw">
        <meta name="Keywords" content="le,minaw,leminaw,le_minaw,renaud,perrin,art,musique,technologie,informatique,photo,3D,2D,numérique,">
        <meta name="Description" content="Site regroupant des projets artistiques, techniques, ou les deux.">

        <link rel="stylesheet" href="{% static 'perso/css/base.css' %}" type="text/css"/>
        <link rel="icon" href="{% static 'perso/css/base.css' %}" type="icon/png">

        <title>LeMinaw | {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav>
                <ul class="navbarlist">
                    <li class="navbaritem" id="navbarhome">
                        <a href="/">LeMinaw</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Photo</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Vidéo</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Musique</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Code</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Infographie</a>
                    </li>
                    <li class="navbaritem">
                        <a href="">Eléctronique</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Website by <a href="/">LeMinaw</a>.</p>
            <p>CC BY-NC-SA 2.0</p>
            <p>- 2016 -</p>
        </footer>

        <script type="text/javascript" src="{% static 'perso/js/fader.js' %}"></script>
    </body>

</html>
