{% load form_filters %}

{% for comment in publication.comment_set.all %}
  <div class="comment">
    <div class="w3-col l2 m3">
      <img class="avatar" src="{{ comment.get_avatar_url }}">
    </div>
    <div class="w3-col l10 m9">
      <h4>{{ comment.pseudo }} <span class="w3-opacity w3-medium">{{ comment.added }}</span></h4>
      <p>{{ comment.content }}</p>
    </div>
  </div>
{% empty %}
  <h6 class="w3-margin-top w3-center">Aucun commentaire pour le moment. :-(</h6>
{% endfor %}
<p class="w3-clear w3-margin-bottom"></p>
{% comment %}
<hr>
<h3>Ajoutez un commentaire !</h3>
<form action="" method="post">
  {% csrf_token %}
  <input type="hidden" name="{{ comForm.publi.html_name }}" value="{{ publication.id }}"/>
  <div class="w3-col l6 m12">
    <div class="w3-margin-right nomargin-small">
      {{ comForm.pseudo.label_tag }}
      {{ comForm.pseudo|addcss:'w3-input w3-border'}}
    </div>
  </div>
  <div class="w3-col l6 m12">
    <div class="w3-margin-left nomargin-small">
      {{ comForm.email.label_tag }}
      {{ comForm.email|addcss:'w3-input w3-border w3-margin-bottom'}}
    </div>
  </div>
  {{ comForm.content.label_tag }} {{ comForm.content|addcss:'w3-input w3-border w3-margin-bottom'}}
  <button name="comment" type="submit" class="w3-button w3-block w3-large w3-blue-gray">Envoyer <i class="fa fa-send-o"></i></button>
</form>
{% endcomment %}
