{% extends "perso/base.html" %}

{% block title %}
  Contact
{% endblock %}

{% block content %}
  <div class="w3-row w3-padding">
    <div class="w3-col l2 s12"><br/></div>
    <div class="w3-col l8 s12">
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <h1>Contact</h1>
        <h2>Vous avec une remarque ou une question concernant minaw.net ?</h3>
        <p>Faites en simplement part à l'adresse <a href="mailto://admin@minaw.net">admin@minaw.net</a>.</p>
        <h2>Vous désirez me contacter ?</h3>
        <p>Si, pour toute autre raison, vous désirez me contacter, vous pouvez le faire à l'adresse <a href="mailto://le@minaw.net">le@minaw.net</a>.</p>
      </div>
    </div>
  </div>
{% endblock content %}
