<!DOCTYPE html>
<html lang="fr-FR">

<html>

  <head>
    <meta charset="utf-8">
    <meta name="Author" content="LeMinaw">
    <meta name="Keywords" content="le,minaw,leminaw,le_minaw">
    <meta name="Description" content="Prototype de page personelle pour LeMinaw.">
    <link rel="icon" href="favicon.ico" type="icon.png">
    <link rel="stylesheet" href="style.css">
    <script src="fader.js"></script>
    <title>LeMinaw</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="navbarlist">
          <li class="navbaritem" id="navbarhome">
            <a href="">LeMinaw</a>
          </li>
          <li class="navbaritem">
            <a href="">Photography</a>
          </li>
          <li class="navbaritem">
            <a href="">Video</a>
          </li>
          <li class="navbaritem">
            <a href="">Music</a>
          </li>
          <li class="navbaritem">
            <a href="">Programming</a>
          </li>
          <li class="navbaritem">
            <a href="">2D graphics</a>
          </li>
          <li class="navbaritem">
            <a href="">3D graphics</a>
          </li>
          <li class="navbaritem">
            <a href="">Electronics</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <p>Hello ! At this time, this website is just a design prototyping platform.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt interdum lacinia. Phasellus bibendum nibh malesuada mauris pulvinar, nec mollis ante efficitur. Curabitur ornare augue lorem, et volutpat diam tristique sed. Quisque vulputate rhoncus lectus, vitae varius ex commodo a. Curabitur metus erat, fringilla in orci et, posuere fringilla ligula. Mauris vitae sapien vitae urna varius congue. Praesent tincidunt commodo velit, id lobortis turpis interdum eget. Cras a neque lobortis, pharetra ligula vitae, egestas risus. Curabitur fringilla luctus mi, nec aliquam nulla vehicula sit amet.</p>
      <p>Sed turpis eros, fermentum ut metus semper, tempus mollis ex. Etiam maximus velit at vestibulum consequat. In facilisis gravida rhoncus. Pellentesque varius eu nibh et dictum. Sed eleifend rutrum consectetur. Aliquam auctor rutrum sem nec efficitur. Cras in quam id odio dictum tempus vel finibus tellus. Etiam pulvinar eros nec erat placerat, cursus accumsan orci venenatis. Quisque egestas eros vel nunc varius, vitae gravida enim gravida. Sed interdum placerat neque, a condimentum dolor lobortis et. Donec nec tortor tellus. Curabitur eleifend ornare tortor, ac tempor arcu iaculis sed. Aenean a eros non ante vehicula congue. Duis erat arcu, pretium vel ultrices ac, mattis in nibh.</p>
      <p>Integer viverra, est eget tempor efficitur, elit sem vestibulum sem, non hendrerit risus arcu sit amet neque. Vestibulum tortor lorem, vulputate eget est eget, mattis vestibulum augue. Pellentesque bibendum sodales porttitor. Morbi mollis laoreet nulla a euismod. Nunc quis dolor libero. Pellentesque ac elit turpis. Morbi felis velit, ornare vitae commodo sed, bibendum nec sapien. Proin volutpat lectus eget felis elementum volutpat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a varius velit, nec volutpat diam. Phasellus nisi sapien, consectetur eu tellus eget, vulputate rhoncus justo. Sed finibus, velit sed placerat venenatis, ligula urna fermentum dui, at ultricies ipsum erat feugiat purus. Nulla vel est id neque congue faucibus. Mauris a augue ornare, hendrerit purus vulputate, finibus nisl. Cras ultricies accumsan lacus, sed ornare diam sollicitudin ac. Mauris varius tincidunt ipsum et euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque non nisl ut felis dapibus lobortis sit amet nec ex. Pellentesque ut magna urna. Mauris sed orci vel augue sodales egestas. Donec aliquam, erat ac sodales egestas, nulla arcu pretium magna, eget rutrum neque nunc ut felis. Nulla velit nibh, porta quis ligula vitae, vestibulum maximus dolor.</p>
      <p>Duis pellentesque nulla quis nisl rutrum, eu lacinia ante faucibus. Etiam et nibh consequat, tempus lacus eu, lacinia ante. Fusce varius enim nisi, at mattis ex aliquam sit amet. Curabitur nec velit vitae ipsum egestas aliquet. Mauris porttitor, ante dictum pulvinar commodo, sapien odio euismod ligula, non lacinia leo justo sed ante. Donec fringilla tortor in libero vestibulum, id pretium nibh dapibus. Nullam ultrices mattis mauris, eu tempus eros sollicitudin ut. Duis ac tellus aliquet, semper diam et, laoreet sem. Cras aliquet elit nec nisi ullamcorper, et dapibus libero molestie. Aenean porttitor hendrerit ex, quis vehicula mauris aliquet ut. Phasellus eget ornare dolor. In ac libero imperdiet, mollis eros sit amet, facilisis urna. Aenean congue quam nulla, non tristique est tincidunt ac. In cursus elit augue, quis interdum dolor efficitur cursus. Fusce laoreet eu augue nec efficitur. Nunc posuere tincidunt dui rutrum venenatis.</p>
      <p>Etiam in neque vel dolor iaculis sollicitudin. Maecenas at dolor eu mauris euismod finibus in vitae elit. Cras eget tempus orci, sit amet ultricies sapien. Fusce varius leo id turpis tincidunt, a elementum metus condimentum. Nullam vitae vulputate sapien, ut tincidunt lectus. Proin nec laoreet tortor. Donec neque neque, sagittis nec lacus eget, posuere auctor felis. Sed id ligula erat. Nunc vitae ante neque. Donec ullamcorper vestibulum mauris, sed pulvinar urna vehicula id. Proin fringilla ipsum mi, sit amet malesuada ante consequat sit amet.</p>
      <p>Aenean tellus sem, cursus a quam sit amet, tempus blandit metus. Maecenas non ipsum id massa egestas consectetur vel in arcu. Proin porta suscipit iaculis. Nulla dui risus, tincidunt et eros sed, ornare congue massa. Suspendisse pretium, magna non maximus interdum, ligula ligula tincidunt risus, eget congue nulla nibh at tortor. In ut neque in orci eleifend ornare. Proin porta dignissim erat, quis vehicula eros fringilla a. Integer rutrum dictum justo, eget sodales dui euismod eu. In hac habitasse platea dictumst. Sed imperdiet tellus erat, nec gravida nisi pharetra ut.</p>
      <p>Cras facilisis nunc non lorem malesuada, in sollicitudin metus scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. In mollis, turpis vel porttitor malesuada, leo augue iaculis tellus, id mollis quam erat a augue. Suspendisse aliquam purus lectus, quis varius lorem ornare bibendum. Maecenas placerat fringilla ligula vitae auctor. Ut maximus condimentum justo sit amet dapibus. Maecenas id viverra ipsum, dictum bibendum risus. Nam fringilla nibh eget metus faucibus rutrum. Vestibulum ut ex finibus, pellentesque ex in, viverra justo. Duis aliquet faucibus fermentum. Cras et vehicula est. Integer faucibus, felis a tristique congue, justo nulla lobortis metus, vel suscipit elit tortor eu sapien. Maecenas tincidunt non purus eu eleifend.</p>
      <p>Ut mauris lorem, pretium ullamcorper suscipit non, venenatis euismod lorem. Nulla sed enim nec est iaculis egestas tincidunt ac mi. Sed malesuada accumsan tincidunt. Duis mattis, tellus egestas aliquet mattis, tellus elit faucibus nisl, nec cursus nisl leo id leo. Sed efficitur, leo quis pharetra convallis, dolor lacus mattis tortor, quis hendrerit nisl lacus a justo. Aliquam facilisis, lacus quis rhoncus convallis, odio lorem facilisis diam, vitae porttitor diam magna ac justo. Etiam pretium iaculis commodo. Fusce a fringilla lorem. Aliquam feugiat nisl aliquam libero imperdiet, ut pellentesque mauris pulvinar. Suspendisse a scelerisque sapien.</p>
    </div>
    <footer>
      <p>Website by <a href="">LeMinaw</a>.</p>
      <p>CC BY-NC-SA 2.0</p>
      <p>- 2016 -</p>
    </footer>
    <br/>
    <br/>
    <br/>
  </body>

</html> 