{% extends "perso/base.html" %}
{% load staticfiles %}

{% block title %}
    Acceuil
{% endblock %}

{% block content %}
    <div class="content">
        <h1>MINAW.net</h1>
        <img class= "logo" src="{% static 'perso/img/logo.svg' %}" onerror="this.src={% static 'perso/img/logo.png' %}">
        <p>Bienvenue sur mon super site. Bon en fait, il n'y a rien pour le moment, mais promis, j'y travaille.</p>
        <p>En attendant, voici des liens vers mes autres projets sur les Internets Virtuels 2.0 :</p>
        <ul>
            <li><a href="/profs">Enseignements ENSAPLV</a> - Partage d'avis sur les profs de l'ENSA</li>
            <li><a href="/dynimg">DynIMG</a> - Générateur d'images dynamiques</li>
            <li><a href="/namegen">NameGen</a> - Générateur de noms pseudo aléatoire</li>
        </ul>
        <p>À plus.</p>
    </div>
{% endblock %}
