{% extends "perso/base.html" %}
{% load staticfiles %}

{% block title %}
  {{ categ.name|default:'Acceuil' }}
{% endblock %}

{% block content %}
  <div class="w3-row w3-padding">

    {% block entries %}
      <div class="w3-col l8 s12">

        {% for publication in publications %}
          <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
              <h3>{{ publication.title }}</h3>
              <h5>{{ publication.subtitle}}, <span class="w3-opacity">{{ publication.added }}</span></h5>
            </div>

            <div class="w3-justify">
              <img src="{{ publication.cover.image.url }}" class="w3-padding-16 fullwidth">
              <p>{{ publication.abstract|linebreaksbr }}</p>
              <p class="w3-left"><a href="{{ publication.get_absolute_url }}" class="w3-button w3-white w3-border">
                <b>Lire la suite...</b>
              </a></p>
              <p class="w3-right"><button class="w3-button w3-black" onclick="toggleComments('comments-{{ publication.slug }}')">
                <b>Commentaires &nbsp;</b> <span class="w3-tag w3-white">{{ publication.comment_set.count }}</span>
              </button></p>
              <p class="w3-clear"></p>
              <div class="comments w3-row w3-margin-bottom" id="comments-{{ publication.slug }}">
                <hr>
                {% include "perso/comment_list.html" %}
              </div>
            </div>
          </div>
          <hr>

        {% empty %}
        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-center">
            <h3>À VENIR !</h3>
            <p>Aucune publication dans la catégorie {{ categ }} pour le moment.</p>
            <h6 class="w3-margin-bottom w3-margin-top"><a href="{% url 'perso:main' %}" class="w3-button w3-block w3-large w3-blue-gray w3-text-white">RETOURNER À L'ACCUEIL</a></h6>
          </div>
        </div>

        {% endfor %}

        {% include "perso/pagination.html" %}
      </div>
    {% endblock entries %}

    {% block sidebar %}
      <div class="w3-col l4">
        {# About Card #}
        <div class="w3-white w3-margin">
          <img src="{% static 'perso/img/profile.jpg' %}" alt="LeMinaw" class="fullwidth">
          <div class="w3-container w3-black">
            <h4>Le minaw</h4>
            <p>Je suis un artiste contemporain visionnaire, adoptant une vision progressiste des systèmes de pensées qui nous entourent. J'adore me beurrer la biscote, et j'espère que vous aussi. Ceci étant je ne suis pas contre un peu de confiote.</p>
          </div>
        </div>
        <hr>

        {# Last posts #}
        <div class="w3-white w3-margin" id="lastPosts">
          <div class="w3-container w3-padding w3-black">
            <h4>Dernières publications</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">
            {% for publication in lastPublications %}
            <a href="{{ publication.get_absolute_url }}" class="w3-block">
              <li class="w3-padding-16 w3-border-top">
                  {% if publication.cover.image.url != None %}
                    <img src="{{ publication.cover.image.url }}" class="w3-left w3-margin-right"/>
                  {% endif %}
                  <span class="w3-large">{{ publication.title }}</span>
                  <br>
                  <span>{{ publication.subtitle }}</span>
                </li>
              </a>
            {% endfor %}
          </ul>
        </div>
        <hr>

        {# Donations #}
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Mécénat</h4>
          </div>
          <div class="w3-container w3-white">
            <p>{{ catchSentence }}</p>
            <h6 class="w3-margin-bottom w3-margin-top"><a href="http://paypal.me/leminaw" class="w3-button w3-block w3-large w3-blue-gray w3-text-white">FAIRE UN DON</a></h6>
          </div>
        </div>
        <hr>

        {# Tags #}
        <div class="w3-white w3-margin" id="tags">
          <div class="w3-container w3-padding w3-black">
            <h4>Étiquettes</h4>
          </div>
          <div class="w3-container w3-white">
            <p>
              {% for tag in tags %}
                <a href="{{ tag.get_absolute_url }}" class="w3-tag w3-light-grey w3-small w3-margin-bottom w3-hover-gray">{{ tag }}</a>
              {% endfor %}
            </p>
          </div>
        </div>
        <hr>

        {# Random #}
        <div class="w3-white w3-margin w3-hide-small" id="random">
          <div class="w3-container w3-padding w3-black">
            <h4>Au pif</h4>
          </div>
          <div class="w3-container w3-white">

            {% for column in randomPublications %}
              <div class="w3-margin-bottom w3-margin-top w3-col s6">
                {% for publication in column %}
                  <a href="{{ publication.get_absolute_url }}" class="w3-block w3-display-container w3-light-gray w3-hover-gray">
                    {% if publication.cover != None %}
                      <img src="{{ publication.cover.image.url }}" class="w3-hover-opacity">
                    {% else %}
                      <h6 class="w3-display-middle">{{ publication.title }}</h5>
                    {% endif %}
                  </a>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
        <hr>

        {# Other sites #}
        <div class="w3-white w3-margin" id="otherSites">
          <div class="w3-container w3-padding w3-black">
            <h4>Mes autres sites</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">
            <a href="{% url 'avatar:main' %}" class="w3-block">
              <li class="w3-padding-16 w3-border-top">
                  <span class="w3-large">Avatars</span>
                  <br>
                  <span>Un générateur procédural d'avatars.</span>
                </li>
              </a>
            <a href="{% url 'dynimg:main' %}" class="w3-block">
              <li class="w3-padding-16 w3-border-top">
                  <span class="w3-large">DynImg</span>
                  <br>
                  <span>Un générateur d'images dynamiques.</span>
                </li>
              </a>
            <a href="{% url 'namegen:main' %}" class="w3-block">
              <li class="w3-padding-16 w3-border-top">
                  <span class="w3-large">NameGen</span>
                  <br>
                  <span>Un générateur procédural de noms propres.</span>
                </li>
              </a>
            <a href="{% url 'profs:main' %}" class="w3-block">
              <li class="w3-padding-16 w3-border-top">
                  <span class="w3-large">Enseignements ENSAPLV</span>
                  <br>
                  <span>Un site d'avis sur les profs de l'ENSAPLV.</span>
                </li>
              </a>
          </ul>
        </div>
        <hr>

        {# Networks #}
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>Restons connectés</h4>
          </div>
          <div class="w3-container w3-xlarge w3-padding">
            <a href="https://vimeo.com/leminaw">       <i class="fa fa-vimeo w3-hover-text-cyan"></i></a>
            <a href="https://soundcloud.com/leminaw">  <i class="fa fa-soundcloud w3-hover-text-orange"></i></a>
            <a href="https://plus.google.com/+LeMinaw"><i class="fa fa-google-plus w3-hover-text-red"></i></a>
            <a href="https://leminaw.bandcamp.com/">   <i class="fa fa-bandcamp w3-hover-text-cyan"></i></a>
            <a href="https://youtube.com/leminaw">     <i class="fa fa-youtube-play w3-hover-text-red"></i></a>
            <a href="https://github.com/LeMinaw">      <i class="fa fa-github w3-hover-text-cyan"></i></a>

          </div>
        </div>
        <hr>

        {# Subscribe #}
        <div id="subscribe" class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>S'abonner</h4>
          </div>
          <div class="w3-container w3-white">
            <p>Pour ne rien rater des nouveautés, abonnez vous à la newsletter.</p>
            <form action="#subscribe" method="post">
              {% csrf_token %}
              <p><input name="{{ subForm.email.html_name }}" class="w3-input w3-border" value="{{ subForm.email.value|default:'' }}" placeholder="Entrez votre email" style="width:100%" type="email" required id="{{ subForm.email.id_for_label }}"/></p>
              {{ subForm.email.errors }}
              <h6><button type="submit" class="w3-button w3-large w3-block w3-red" name="subscribe">S'ABONNER</button></h6>
            </form>
          </div>
        </div>
      </div>
    {% endblock sidebar %}
  </div>
{% endblock content %}
