{# This template needs population from barItems and moreBarItems #}

<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" onclick="toggleMenu()" title="Menu de navigation"><i class="fa fa-bars"></i></a>
    <a href="{% url 'perso:main' %}" class="w3-bar-item w3-button w3-padding-large">ACCUEIL</a>
    {% for barItem in barItems %}
      <a href="{{ barItem.get_absolute_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">{{ barItem }}</a>
    {% endfor %}
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Plus <i class="fa fa-caret-down" aria-hidden="true"></i></button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        {% for barItem in moreBarItems %}
          <a href="{{ barItem.get_absolute_url }}" class="w3-bar-item w3-button">{{ barItem }}</a>
        {% endfor %}
        <a href="{% url 'perso:about' %}" class="w3-bar-item w3-button">À propos</a>
        <a href="{% url 'perso:contact' %}" class="w3-bar-item w3-button">Contact</a>
      </div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<div id="nav" class="w3-bar-block w3-black w3-hide-large w3-hide-medium w3-top">
  {% for barItem in barItems %}
    <a href="{{ barItem.get_absolute_url }}" class="w3-bar-item w3-button w3-padding-large">{{ barItem }}</a>
  {% endfor %}
</div>
