{% extends "perso/main.html" %}

{% load markup %}
{% load img_filters %}

{% block sidebar %}{% endblock %}

{% block entries %}
  <div class="w3-col l12 s12">

    <div class="w3-container w3-white w3-margin w3-padding-large">
      <div class="w3-center">
        <h3>{{ publication.title }}</h3>
        <h5>{{ publication.subtitle}}, <span class="w3-opacity">{{ publication.added }}</span></h5>
      </div>
      <div class="w3-justify">
        <img src="{{ publication.cover.image.url }}" class="w3-padding-16 fullwidth">
        {{ publication.content|img|commonmark }}
        <p class="w3-clear"></p>
        <div class="comments w3-row w3-margin-bottom w3-show">
          <hr>
          {% include "perso/comment_list.html" %}
        </div>
      </div>
    </div>
    <hr>

    <div class="w3-container">
      <p class="w3-left">
        {% if prev_pub %}
          <a href="{% url 'perso:publication' slug=prev_pub.slug|default:publication.slug %}" class="w3-button w3-white w3-border"><b><i class="fa fa-chevron-left"></i></b></a>
        {% endif %}
      </p>
      <p class="w3-right">
        {% if next_pub %}
          <a href="{% url 'perso:publication' slug=next_pub.slug|default:publication.slug %}" class="w3-button w3-white w3-border"><b><i class="fa fa-chevron-right"></i></b></a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
