#testImg {
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 5px 0 #444;
    -webkit-box-shadow: 0 0 5px 0 #444;
}

@media (min-width: 550px) {
    input { display: inline }
    input[type="submit"] { width: 25% }
    input[type="text"] { width: 74% }
}
