/* Colors */

.w3-hover-text-cyan:hover {color: #00BCD4}
.w3-hover-text-orange:hover {color: #FF9800}

/* Global */

body {font-family: "Open Sans"}
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
h1.w3-jumbo, h3 {text-transform: uppercase}
a.w3-block, a.w3-tag {text-decoration: none}
ul {margin: 0}
pre {overflow-x: auto}
code {
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #FBFBFB;
    padding: 0 3px;
}
pre code {display: inline-block}
img.fullwidth {
    width: 100%;
    height: auto;
}
img.crisp {image-rendering: crisp-edges}
p a:link, p a:visited {
    text-decoration: none;
    color: #1CF;
}
p a:hover {
    text-decoration: underline;
}

/* Banner */

#nav {margin-top: 46px}
img.bigCover {
    object-fit: cover;
    height: 600px;
}
img.smallCover {
    object-fit: cover;
    height: 260px;
}

/* Main content */

#content {
    max-width: 1600px;
    margin-top: 46px;
}
.comments, #nav {display: none}
.avatar {width: 90px}
@media (max-width:600px) {
    .w3-row.w3-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .nomargin-small { margin: 0 !important }
}

/* Sidebar */

#lastPosts img {
    object-fit: cover;
    height: 50px;
    width: 70px;
}
#lastPosts li {overflow: hidden}
#random img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#random .w3-display-container {height: 120px}
#random h6 {margin: 0}

/* Modals */

#photoModal {
    padding: 32px;
    height: 100vh;
}
.w3-modal-content { padding: 32px }
img.w3-modal-content {
    padding: 0;
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    background: none;
}
