{% extends "dynimg/base.html" %}

{% block title %} : À propos{% endblock %}

{% block content %}
  <h2>Qu'est-ce que DynImg ?</h2>
  <p>DynImg est un service gratuit permettant de lier plusieurs images à une seule adresse web. Quand un lien DynImg est chargé (par exemple par un autre site, blog, ou forum) ; une image aléatoire est tirée au sort parmi la liste que vous avez préalablement fournie.</p>
  <p>Ça peut être très utile pour faire une bannière web aléatoire facilement, ou pour afficher plusieurs déclinaisons d'un avatar ou d'une signature sur un forum, par exemple.</p>

  <h2>Comment ça marche ?</h2>
  <p>Rendez vous sur <a href="{% url "dynimg:main" %}">la page d'accueil</a>, remplissez la boîte avec des liens vers vos images statiques, et cliquez sur <i>C'est parti !</i>. Le site vous retournera un lien que vous pourrez utiliser comme d'habitude, sur des forums, des chats, ou sur vos designs web. Pas besoin de créer un compte, de fournir un email ou quoi que ce soit d'autre.</p>

  <h2>Est-ce que DynImg est un hébergeur d'images ?</h2>
  <p>Pas du tout ! DynImg fait juste le lien entre vos images statiques et votre lien DynImg unique. Vous devez héberger vos images par vos propres moyens, sur un service dédié.

  <h2>Qu'est-ce donc que le <i>mode discret</i> ?</h2>
  <p>Généralement, DynImg fonctionne très bien en mode par défaut. Dans le mode par défaut, DynImg procède à une simple redirection HTTP vers vos liens, à chaque chargement de voytre image dynamique.</p>
  <p>Parfois, vous pouvez avoir besoin de quelque chose de plus robuste ou de plus "caché". En mode discret, DynImg copiera les données internes de votre image en temps réel, pour les retourner sans procéder à une redirection. C'est plus lent et moins efficace, mais ça peut être utile dans certains cas.</p>

  <h2>Statistiques</h2>
  <p>Nous avons {{ registeredImgs }} images dynamiques enregistrées, liées à {{ registeredUrls }} adresses statiques.</p>
  <p>{{ displayedImgs }} images dynamiques ont été affichées par nos services.</p>

  <h2>Technologies utilisées</h2>
  <p>Cette application <i>open source</i> est programmée en Python, à l'aide du framework Django et du moteur PostgreSQL. L'affichage est réalisé à l'aide de HTML5 et de CSS3.</p>
{% endblock %}
