{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">

<html>

  <head>
    <meta charset="utf-8">
    <meta name="Author" content="LeMinaw">
    <meta name="Keywords" content="dynamique,image,photo,aléatoire,dynimg,multiple,lien">
    <meta name="Description" content="Un site web pour générer des images dynamiques.">
    <link rel="icon" href="favicon.ico" type="icon/png">
    <link rel="stylesheet" href="{% static 'dynimg/css/base.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <title>DynImg | {% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li class="navbaritem">
            <a href="{% url 'dynimg:about' %}">À propos</a>
          </li>
          <li class="navbaritem">
            <a href="{% url 'dynimg:main' %}">DynImg</a>
          </li>
        </ul>
      </nav>
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <footer>
      <p>Une appli web par <a href="{% url "perso:main" %}">LeMinaw</a>.</p>
      <p>Licence CC BY-NC-SA 2.0</p>
      <p>- 2016 -</p>
    </footer>
  </body>

</html>
