{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">

<html>

  <head>
    <meta charset="utf-8">
    <meta name="Author" content="LeMinaw">
    <meta name="Keywords" content="dynamique,image,photo,aléatoire,dynimg,multiple,lien">
    <meta name="Description" content="Un site web pour générer des images dynamiques.">
    <link rel="icon" href="favicon.ico" type="icon/png">
    <link rel="stylesheet" href="{% static 'leminaw/css/minaw-css.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title>DynImg</title>
  </head>

  <body>
    <header>
      <h1>DynImg{% block title %}{% endblock %}</h1>
    </header>
    <section id="content">
      {% block content %}{% endblock %}
    </section>
    <footer>
      <p>Une appli web par <a href="{% url "perso:main" %}">LeMinaw</a>.</p>
      <p>Licence CC BY-NC-SA 2.0</p>
      <p>- 2016 -</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  </body>

</html>
