{% extends "dynimg/base.html" %}

{% block content %}
  <h2>Qu'est-ce que c'est ?</h2>
  <p>DynImg permets de lier plusieurs images à une seule adresse web. Quand un lien DynImg est chargé, une image aléatoire est tirée au sort parmi la liste que vous avez préalablement fournie.</p>
  <p>Ça peut être très utile pour faire une bannière web aléatoire facilement, ou pour afficher plusieurs déclinaisons d'un avatar ou d'une signature sur un forum.</p>
  <p>Pour plus d'informations, rendez vous sur la page <a href="{% url 'dynimg:about' %}">à propos</a>.</p>
  {% if image == None %}
    <h2>Créez votre image dynamique dès maintenant !</h2>
    <p>Suivez simplement les étapes ci dessous.</p>
    <form action="{% url 'dynimg:main' %}" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field }}
          {{ field.label_tag }} {# Reversed to allow css "+" selection #}
        </div>
        {{ field.errors }}
        <br>
      {% endfor %}
      {{ form.non_field_errors }}
      <input type="submit" value="C'est parti !" />
    </form>
  {% else %}
    <h2>Succès !</h2>
    <p>Voici le lien vers votre image dynamique. Utilisez le simplement comme un lien ordinaire.</p>
    <code>{{ request.get_host }}{{ image.get_absolute_url }}</code>
    <p>Merci !</p>
  {% endif %}
{% endblock %}
